<!-- templates/admin/admin_detail.html -->

{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/admin_detail.css' %}?v=1.2">
{% endblock %}

{% block content %}
<div class="header-container">
        <h1>관리자 관리</h1>
    </div>
    <div class="header-container">
        <h2>관리자 상세</h2>
    </div>
    <div class="admin-detail">
        <table class="info-table">
            <colgroup>
                <col style="width: 15%; vertical-align: middle;">
                <col style="width: 85%; vertical-align: middle;">
            </colgroup>
            <tr>
                <th>아이디</th>
                <td>{{ profile.user.username }}</td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>{{ profile.user.email }}</td>
            </tr>
            <tr>
                <th>담당자 명</th>
                <td>{{ profile.manager_name }}</td>
            </tr>
            <tr>
                <th>직책/직급</th>
                <td>{{ profile.position }}</td>
            </tr>
            <tr>
                <th>회사명</th>
                <td>{{ profile.company }}</td>
            </tr>
            <tr>
                <th>부서</th>
                <td>{{ profile.department }}</td>
            </tr>
            <tr>
                <th>회사 연락처</th>
                <td>{{ profile.company_contact }}</td>
            </tr>
            <tr>
                <th>담당자 연락처</th>
                <td>{{ profile.manager_contact }}</td>
            </tr>
            <tr>
                <th>관리자 유형</th>
                <td>{{ profile.get_role_display }}</td>
            </tr>
        </table>
    </div>
    <div class="button-group">
        <form method="post" action="{% url 'admin_delete' profile.id %}" class="delete-form" onsubmit="return confirmDelete();">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">삭제</button>
        </form>
        <a href="{% url 'admin_update' profile.id %}" class="btn btn-primary">수정</a>
        <a href="{% url 'admin_list' %}" class="btn btn-secondary">목록</a>
    </div>      
</div>
{% endblock %}

{% block extra_scripts %}
    <script>
        // 삭제 확인 함수
        function confirmDelete() {
            if (confirm("정말 삭제하시겠습니까?")) {
                return true; // 확인 시 삭제 진행
            } else {
                return false; // 삭제 진행하지 않음
            }
        }
    </script>
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}"); // 메시지 알림
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}