{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 관리</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <style>
        /* 공통 스타일 */
        .admin-table { /* ... */ }
        .form-control { /* ... */ }
        .btn { /* ... */ }
        /* 기타 공통 스타일 */
    </style>
</head>


{% block extrahead %}
    <!-- 파비콘 링크 추가 -->
    <link rel="icon" href="{% static 'icons/favicon.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'icons/favicon.png' %}" type="image/png">
    <!-- 기타 추가적인 헤드 요소가 필요하다면 여기에 추가 -->
{% endblock %}

{% block branding %}
<h1 id="site-name" style="font-family: 'Roboto', sans-serif; font-weight: bold;">
    <a href="{% url 'admin:index' %}">호텔 미팅룸 관리자</a>
</h1>
{% endblock %}

<body>    
    {% block form_content %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</body>


{% block nav-global %}
<div id="user-tools">
    <strong>{{ user.username }}</strong> &mdash;
    <a href="{% url 'admin:password_change' %}">{% trans 'Password change' %}</a> /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
</div>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% for item in breadcrumb_items %}
        &rsaquo; <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<div id="content" class="colM">
    <h1>{{ title }}</h1>
    {% if subtitle %}
        <div id="subtitle">{{ subtitle }}</div>
    {% endif %}
    {% if messages %}
        <ul class="messagelist">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {{ content }}
</div>
{% endblock %}
