<!-- templates/admin/base_site.html -->

{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <!-- 추가적인 CSS 파일 로드 -->
    <link rel="stylesheet" href="{% static 'css/admin_detail.css' %}?v=1.0">
    <!-- 필요시 다른 CSS 파일도 추가 -->
{% endblock %}

{% block extrahead %}
    <!-- 파비콘 링크 추가 -->
    <link rel="icon" href="{% static 'icons/favicon.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'icons/favicon.png' %}" type="image/png">
    <!-- 기타 추가적인 헤드 요소가 필요하다면 여기에 추가 -->
{% endblock %}

{% block nav-global %}
    <div id="user-tools">
        <strong>{{ user.username }}</strong> &mdash;
        <a href="{% url 'admin:password_change' %}">{% trans 'Password change' %}</a> /
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    </div>
{% endblock %}

{% block branding %}
    <h1 id="site-name" style="font-family: 'Roboto', sans-serif; font-weight: bold;">
        <a href="{% url 'admin:index' %}">호텔 미팅룸 관리자</a>
    </h1>
{% endblock %}
