/* admin_create.css */

.admin-table {
    border-spacing: 5px !important;
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

.admin-table th, .admin-table td {
    padding: 8px 10px !important; /* 왼쪽 여백을 5px에서 10px로 조정 */
    border: 1px solid #ccc;
    vertical-align: middle;
    font-size: 16px;
    text-align: left;
}

.form-control {
    height: 45px !important;
    padding: 0 5px !important;
    font-size: 14px !important;
    text-decoration: none;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    box-sizing: border-box !important;
    line-height: 45px !important;
    width: 98% !important;
    margin: 0 !important;
    margin-left: 10px !important;
}

.admin-table th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.btn, .search-form input, .form-control {
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 45px;
    margin-left: 10px;
    width: 90%;
}

.btn {
    text-align: center;
    cursor: pointer;
    color: white !important;
}

.btn-primary {
    background-color: #2d4f65;
    color: white !important;
}

.btn-primary:hover {
    background-color: #1e3747;
    color: white !important;
}

.btn-secondary {
    background-color: #81afc6;
    color: white !important;
}

.btn-secondary:hover {
    opacity: 0.9;
    color: white !important;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.btn-small {
    padding: 5px 15px;
    height: auto;
    line-height: 1.5;
    font-size: 14px;
}

.btn-inline {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1;
    margin: 0 5px;
    height: 40px;
    box-sizing: border-box;
}

.error-message {
    text-align: left;
    font-size: 12px;
    color: red;
    margin-top: 5px;
    margin-left: 10px;
}

.required {
    color: red;
    margin-left: 5px;
}

.fixed-width-select {
    width: 20% !important;
}
