<!-- hotel_create.html -->
{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/hotel_create.css' %}">
    <!-- 카카오 주소 API 스크립트 -->
    <script type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        // 주소 검색 함수
        function openPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var postalCode = data.zonecode; // 우편번호
                    var address = '';
                    if (data.userSelectedType === 'R') { // 도로명 주소
                        address = data.roadAddress;
                    } else { // 지번 주소
                        address = data.jibunAddress;
                    }
            
                    // 우편번호와 주소 입력 필드에 값 설정
                    document.getElementById('id_postal_code').value = postalCode;
                    document.getElementById('id_address').value = address;
            
                    // 상세 주소 입력 필드 포커스
                    document.getElementById('id_detail_address').focus();
                }
            }).open();
        }
        // 페이지 로드 후 실행되는 함수
        document.addEventListener('DOMContentLoaded', function() {
            // 사업자 번호 입력 필드 자동 포맷팅
            var businessNumberInput = document.querySelector('input[name="business_number"]');

            businessNumberInput.addEventListener('input', function(e) {
                var value = this.value.replace(/[^0-9]/g, ''); // 숫자만 남김

                if (value.length > 10) {
                    value = value.slice(0, 10); // 최대 10자리로 제한
                }

                var formattedValue = '';
                if (value.length > 0) {
                    formattedValue = value.slice(0, 3);
                }
                if (value.length >= 4) {
                    formattedValue += '-' + value.slice(3, 5);
                }
                if (value.length >= 6) {
                    formattedValue += '-' + value.slice(5, 10);
                }
                this.value = formattedValue;
            });

            // 로고 이미지 미리보기 기능 및 삭제 버튼
            var logoInput = document.querySelector('input[name="logo"]');
            var previewContainer = document.getElementById('logo-preview-container');
            var previewImage = document.getElementById('logo-preview');
            var removeButton = document.getElementById('logo-remove');

            logoInput.addEventListener('change', function(e) {
                var file = this.files[0];
                if (file) {
                    if (file.size > 5 * 1024 * 1024) {
                        alert("파일 크기는 5MB 이하여야 합니다.");
                        this.value = '';
                        previewImage.src = '';
                        previewContainer.style.display = 'none';
                        return;
                    }
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        previewImage.src = e.target.result;
                        previewContainer.style.display = 'block';
                    }
                    reader.readAsDataURL(file);
                } else {
                    previewImage.src = '';
                    previewContainer.style.display = 'none';
                }
            });

            // 이미지 삭제 버튼 기능
            removeButton.addEventListener('click', function(e) {
                e.preventDefault();
                logoInput.value = '';
                previewImage.src = '';
                previewContainer.style.display = 'none';
            });
        });
    </script>
</head>

<div class="content">
    <form method="post" action="{% url 'hotel_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="header-container">
            <h1>호텔 관리</h1>
        </div>
        <div class="header-container">
            <h2>호텔 등록</h2> <p> "*" 항목은 필수 입력항목 입니다. </p>
        </div>

        <table class="admin-table">
            <colgroup>
                <col style="width: 15%; vertical-align: middle;">
                <col style="width: 85%; vertical-align: middle;">
            </colgroup>
            <tr>
                <!-- 호텔명 -->
                <th>
                    {{ form.name.label }}
                    {% if form.name.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </th>
                <td>
                    <input type="text" name="name" value="{{ form.name.value|default_if_none:'' }}" placeholder="호텔명을 입력하세요" class="form-control" {% if form.name.field.required %}required{% endif %}>
                    {% if form.name.errors %}
                        <div class="error-message">{{ form.name.errors|join:" " }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <!-- 주소 -->
                    주소
                    <span class="required">*</span>
                </th>
                <td>
                    <div class="input-group">
                        <input type="text" name="postal_code" id="id_postal_code" class="form-control postal-code-input" placeholder="우편번호" value="{{ form.postal_code.value|default_if_none:'' }}" {% if form.postal_code.field.required %}required{% endif %}>
                        <button type="button" class="btn btn-secondary" onclick="openPostcode();">주소 검색</button>
                    </div>
                    {% if form.postal_code.errors %}
                        <div class="error-message">{{ form.postal_code.errors|join:" " }}</div>
                    {% endif %}
                    <input type="text" name="address" id="id_address" value="{{ form.address.value|default_if_none:'' }}" placeholder="주소를 입력하세요" class="form-control" {% if form.address.field.required %}required{% endif %}>
                    {% if form.address.errors %}
                        <div class="error-message">{{ form.address.errors|join:" " }}</div>
                    {% endif %}
                    <input type="text" name="detail_address" id="id_detail_address" value="{{ form.detail_address.value|default_if_none:'' }}" placeholder="상세 주소를 입력하세요" class="form-control" {% if form.detail_address.field.required %}required{% endif %}>
                    {% if form.detail_address.errors %}
                        <div class="error-message">{{ form.detail_address.errors|join:" " }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <!-- 연락처 -->
                <th>
                    {{ form.contact_number.label }}
                    {% if form.contact_number.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </th>
                <td>
                    <input type="text" name="contact_number" value="{{ form.contact_number.value|default_if_none:'' }}" placeholder="연락처를 입력하세요" class="form-control" {% if form.contact_number.field.required %}required{% endif %}>
                    {% if form.contact_number.errors %}
                        <div class="error-message">{{ form.contact_number.errors|join:" " }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    {{ form.email.label }}
                    {% if form.email.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </th>
                <td>
                    <input type="email" name="email" value="{{ form.email.value|default_if_none:'' }}" placeholder="이메일을 입력하세요" class="form-control" {% if form.email.field.required %}required{% endif %}>
                    {% if form.email.errors %}
                        <div class="error-message">{{ form.email.errors|join:" " }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    {{ form.business_number.label }}
                    {% if form.business_number.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </th>
                <td>
                    <input type="text" name="business_number" value="{{ form.business_number.value|default_if_none:'' }}" placeholder="사업자 번호를 입력하세요 (예: 123-45-67890)" class="form-control" {% if form.business_number.field.required %}required{% endif %} pattern="\d{3}-\d{2}-\d{5}" title="사업자 번호 형식: 123-45-67890">
                    {% if form.business_number.errors %}
                        <div class="error-message">{{ form.business_number.errors|join:" " }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <!-- 정산일 선택 -->
                <th>
                    {{ form.settlement_date.label }}
                    {% if form.settlement_date.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </th>
                <td>
                    <select name="settlement_date" class="form-control fixed-width-select" {% if form.settlement_date.field.required %}required{% endif %}>
                        {% for value, display in form.settlement_date.field.choices %}
                            <option value="{{ value }}" {% if form.settlement_date.value == value %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                    </select>
                    {% if form.settlement_date.errors %}
                        <div class="error-message">{{ form.settlement_date.errors|join:" " }}</div>
                    {% endif %}
                </td>
            </tr>
            <!-- 로고 업로드 -->
            <tr>
                <th>
                    {{ form.logo.label }}
                    {% if form.logo.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </th>
                <td>
                    <!-- 커스텀 파일 업로드 버튼 -->
                    <label for="id_logo" class="custom-file-upload btn btn-secondary">
                        파일 선택
                    </label>
                    <input type="file" name="logo" id="id_logo" accept=".jpg,.jpeg,.png" style="display: none;" {% if form.logo.field.required %}required{% endif %}>
                    {% if form.logo.errors %}
                        <div class="error-message">{{ form.logo.errors|join:" " }}</div>
                    {% endif %}
                    <!-- 이미지 미리보기 및 삭제 버튼 -->
                    <div id="logo-preview-container" style="display: none; margin-top: 10px;">
                        <img id="logo-preview" src="#" alt="이미지 미리보기" class="preview-image">
                        <button id="logo-remove" class="btn btn-danger btn-inline">삭제</button>
                    </div>
                </td>
            </tr>
                <!-- 호텔 설명 -->
                <th>
                    {{ form.description.label }}
                    {% if form.description.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </th>
                <td>
                    <textarea name="description" placeholder="호텔 설명을 입력하세요" class="form-control" {% if form.description.field.required %}required{% endif %}>{{ form.description.value|default_if_none:'' }}</textarea>
                    {% if form.description.errors %}
                        <div class="error-message">{{ form.description.errors|join:" " }}</div>
                    {% endif %}
                </td>
            </tr>
        </table>
        <div class="button-group">
            <button type="submit" class="btn btn-primary btn-inline">저장</button>
            <a href="{% url 'hotel_list' %}" class="btn btn-secondary btn-inline">목록</a>
        </div>
    </form>
</div>
{% endblock %}